nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}
h1{
    color: darkblue;
}

img {
    width: 150px; 
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: o 0 30px gray;
}

p{
    padding: 10px;
}

body {
    text-align: center;
}