* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #1949e7;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
    margin: 15px 0;
}

main {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    margin: 15px 0;
    line-height: 1.5;
}

aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    background-color: #1949e7;
    color: white;
    margin-top: 15px;
    border-top: 1px solid #000;
    padding: 20px;
    text-align: center;
}